<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GOTUR</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <th:block th:include="/_header"></th:block>
</head>
<style>
    .box {
        width: 230px;
        height: 155px;
        margin-bottom: 5px;
    }

</style>
<body>

<th:block th:include="/_menu"></th:block>


<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">

                <div th:each="prodInfo : ${paginationProducts.list}">
                    <div class="">
                        <div class="display">
                            <img th:src="@{|/productImage?code=${prodInfo.code}|}" alt="..."
                                class="product-image" >
                            <div class="box" th:with="selectedQuantity = 1">
                                <p style="font-size:13px;"><span th:utext="${prodInfo.name}"></span><br>
                                    ₺<span th:utext="${prodInfo.unitPrice}"></span>
                                </p>

<!--                                <input class="btn btn-dark btn-fixed" type="submit" value="-"/>-->
<!--                                <input class="btn-fixed" disabled type="text" value="1" >-->
<!--                                <input class="btn btn-dark btn-fixed" type="submit" value="+"/>-->

                                <a th:href="@{/buyProduct(code=${prodInfo.code},quantity=${selectedQuantity})}" class="btn btn-dark">Add
                                    to Cart</a>

                                <!-- For Manager edit Product -->
                                <th:block sec:authorize="hasAuthority('ROLE_STORE_MANAGER')">
                                    <a class="btn btn-warn" th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit Product</a>
                                </th:block>
                            </div>
                        </div>


                    </div>
                </div>


                <br/>

                <!-- ------------------------------Offer end---------------------------------- -->

            </div>


        </div>
    </div>
    <br><br>
    <!-- nav start  -->
    <div class="row">
        <div class="col-lg-6 offset-4">
            <div class="" th:if="${paginationProducts.totalPages > 1}">
                <th:block th:each="page : ${paginationProducts.navigationPages}">

                    <a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
                       class="btn btn-dark" style="border-radius: 0%; margin:2px;" th:utext="${page}"></a>

                    <span class="btn btn-dark" style="border-radius: 0%; margin:2px;" th:if="${page == -1}"> ... </span>

                </th:block>
            </div>
        </div>
    </div> <!-- nav end -->
</div><!-- container end -->


<!-- ------------------------------Offer end---------------------------------- -->


<th:block th:include="/_footer"></th:block>

</body>
</html>